/* COLORS */
$bgColor: #2d2d2d;
$textColor: #ffffff;
$accentColor: #ababab;
$accentTextColor: #000000;
$contrastingColor: #8d2663;
$inputColor: #ababab;
$btnColor: #8d2663;
$btnTextColor: #ababab;
$btnColorHover: #8a446d;
$btnTextColorHover: #ffffff;
$highlightBlockColor: #8d2663;
$highlightBorderColor: #2d2d2d;
$borderColor: #000000;
$shadowColor: #000000;

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Montserrat:wght@400;900&family=Roboto+Mono:wght@300&display=swap');
$titleFontFamily: "Montserrat", "Helvetica Neue", "Segoe UI", "Calibri", sans-serif;
$titleFontWeight: 900;
$titleFontSize: 2em;
$bodyFontFamily: "Baloo Bhai 2", "Helvetica Neue", "Segoe UI", "Calibri", sans-serif;
$bodyFontWeight: 400;
$bodyFontSize: 1em;
$codeFontFamily: "Roboto", source-code-pro, Menlo, Monaco, Consolas, "Courier New";
$codeFontWeight: 300;
$codeFontSize: 0.8em;
$btnFontFamily: $titleFontFamily;
$btnFontWeight: $titleFontWeight;
$btnFontSize: 1.5em;


/* DESIGN */
$shadow: 5px 5px 5px $shadowColor;
$corners: 5px;
$btnBorders: 2px solid $borderColor;
$btnBordersHover: 2px solid $borderColor;
$inputBoxShadow: 0px 0px 10px $highlightBorderColor;