@import './index.scss';

.results-panel{
    height:100vh;
}

.title {
    margin-bottom: 32px;
}

#results-input{
    background-color: $bgColor;
    color: $textColor;
}

#results-output{
    background-color: $accentColor;
    color: $accentTextColor;
}
 
#bottom{
    position:absolute;
    left:50%;
    transform: translate(-50%,0);
    bottom:10vh;
}

#btn-tryAgain{
    padding: 20px;
}
  
.imageView{
    height: 60vh;
    width: 80%;
    position: relative;
    left:50%;
    top:35vh;
    transform: translate(-50%,-50%);
    width: 80%;
}

.imgFile{
    max-width:100%;
    max-height:100%;
    border: $btnBorders;
    border-radius: $corners;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
  }
  
#executionTime{
    background-color: $borderColor;
    color: $btnTextColor;
    padding:5px;
    width: 100%;
    position: absolute;
    bottom:0.5px;
}

.textBlockResult{
    width: 80%;
    height: 60vh;
    text-align: left;
    padding: 20px;
    border-radius: $corners;
    box-shadow: $shadow;
    margin-left: 50%;
    transform: translate(-50%,0);
    overflow-y: scroll;
    overflow-x: scroll;
    white-space: nowrap;
}

#textBlockResultInput::-webkit-scrollbar {
    width: 12px;
    background-color: $bgColor;
    border-radius: $corners;
}

#textBlockResultInput::-webkit-scrollbar-track {
    background-color: $accentColor;
    border-radius: $corners;
}

#textBlockResultInput::-webkit-scrollbar-thumb {
    border-radius: $corners;
    background-color: $contrastingColor;
}

#textBlockResultInput::-webkit-scrollbar-corner {
    background-color: $accentColor;
    border-radius: $corners;
}


#textBlockResultOutput::-webkit-scrollbar {
    width: 12px;
    background-color: $bgColor;
    border-radius: $corners;
}

#textBlockResultOutput::-webkit-scrollbar-track {
    background-color: $bgColor;
    border-radius: $corners;
}

#textBlockResultOutput::-webkit-scrollbar-thumb {
    border-radius: $corners;
    background-color: $contrastingColor;
}

#textBlockResultOutput::-webkit-scrollbar-corner {
    background-color: $bgColor;
    border-radius: $corners;
}


.resultInput{
    background-color:$accentColor;
    color: $accentTextColor;
}

.resultOutput{
    background-color:$bgColor;
    color: $textColor;
}

.jsonElementOuter{
    margin-bottom: 15px;
}

.jsonElementInner{

    border-radius: $corners*2;
    padding: 5px 0px;

    .jsonKey{
        background-color: $contrastingColor;
        border-radius: $corners;
        padding: 5px;
        color: $textColor;
    }
    
    .jsonValue{
        padding: 5px 10px 5px 5px;
    }
}

.normal{
    background-color:$bgColor;
    color: $textColor;
}

.accent{
    background-color:$accentColor;
    color: $accentTextColor;
}

.normalText{
    color: $textColor;
}

.accentText{
    color: $accentTextColor;
}


.fileTypeImgResult{
    margin-top: 20vh;
    height: 35vh;
}