@import '~bootstrap/scss/bootstrap.scss';
@import './theme.scss';

body {
  margin: 0;
  padding: 0;
  font-family: $bodyFontFamily;
  font-weight: $bodyFontWeight;
  font-size: $bodyFontSize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bgColor;
  color: $textColor;
  text-align: center;
}

.accentBox {
  background-color: $accentColor;
  color: $accentTextColor;
  border-radius: $corners;
  box-shadow: $shadow;
  padding: 10px;
  overflow: hidden;
}

.title {
  font-family: $titleFontFamily;
  font-weight: $titleFontWeight;
  font-size: $titleFontSize;
}

code {
  font-family: $codeFontFamily;
  font-weight: $codeFontWeight;
  font-size: $codeFontSize;
}

.btn {
  border: $btnBorders;
  border-radius: $corners;
  background-color: $btnColor;
  color: $btnTextColor;
  font-size: $btnFontSize;
  font-family: $btnFontFamily;
  font-weight: $btnFontWeight;
  cursor: pointer;
  a{
    color: $btnTextColor;
    text-decoration: none;
  }
}

.btn:hover {
  border: $btnBordersHover;
  background-color: $btnColorHover;
  color: $btnTextColorHover;
  a{
    color: $btnTextColorHover;
  }
}

.input{
  width: 80%;
  border-radius: $corners;
}

.dropzone {
  height: 200px;
  background-color: $accentColor;
  border: $btnBorders;
  font-size: $btnFontSize;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropzoneHighlight {
  background-color: $highlightColor;
}

.clickable{
  cursor: pointer;
}

.hidden{
  display: none;
}


.scrollbar
{
  border: 2px solid $dark;
  height: 60vh;

    float: right;
    background: #F5F5F5;
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px #d7d7d7;
    border-radius: 10px;
    background-color:$white;
}

.scrollbar::-webkit-scrollbar
{
    width: 12px;
    background-color: $light;
}

.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #d7d7d7;
    background-color: $dark;
}

.nameConfidenceTitle{
  font-size: 12px;
}

.progress-bar{
  background-color:$dark;
  height:16px;
}