@import './index.scss';

.results-panel{
    height:100vh;
}

#results-input{
    background-color: $bgColor;
    color: $textColor;
}

#results-output{
    background-color: $accentColor;
}
 
#bottom{
    position:absolute;
    left:50%;
    transform: translate(-50%,0);
    bottom:10vh;
}

#btn-tryAgain{
    padding: 20px;
}
  
.imageView{
    height: 60vh;
    width: 80%;
    position: relative;
    left:50%;
    top:35vh;
    transform: translate(-50%,-50%);
    width: 80%;
}

.imgFile{
    max-width:100%;
    max-height:100%;
    border: 2px solid white;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
  }
  
#executionTime{
    background-color: black;
    width: 100%;
    position: absolute;
    bottom:0.5px;
}